*{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: rgb(7, 100, 103);
}
.navbar{
    padding-left: 17px;
    margin: -10px;
    width: 100%;
    background: green; 
    font-family: calbri;
}
.navdiv ul :hover{
    color: rgb(19, 9, 57);
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}
li{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
}
.aboutme{
   box-sizing: border-box;
   border: 5px;
}
.aboutme p{
    display: inline-block;
    font-size: 12px;
}
.Title1{
    font-size: 35px;
    color: whitesmoke;
    float: right;
    padding-right: 550px;
}
.Title2{
    font-size: 35px;
    color: whitesmoke;
    float: right;
    padding-right: 550px;
}
.para{
    padding-top: 100px;
    
}
.para p{
    color: white;
    font-size: 25px;
}
.lol{
    margin-top: -175px;
    float: right;
    margin-right: 50px;
    height: 450px;
    width: 350px;
}
.aboutme{
    padding-left: 100px;
    align-items: center;
    color: white;
}
.aboutme p{
    padding-left: 100px;
    align-content: center;
    font-size: 30px;
}
.list{
    margin-top: 10px;
    color: white;
}
.list div h1{
    font-size: 40px;
}
.list div a{
    font-size: 25px;
    color: white;
}
.list div a:hover{
    color:rgb(19, 9, 57);
}
.bar1 {
    margin-top: px;
    align-items: center;
}
.stuff{ /* Do not touch!!!!! even though it looks like awfully small code it does a lot ok */
    margin-top: -150px;
    margin-left: 25px;
}
.stuff h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.Important{
    font-weight: bold;
    font-size: 20px;
    color: red;
}
